@model DiskManagement.Models.Disk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Disk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interprete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interprete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSortie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
